.TaskListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.TaskListMain__button-container {
  max-width: 380px;
  margin: 0 10px;
}

.TaskListMain__add-task-button {
  margin: 0 auto 20px;
}
.TaskListMain__add-task-button:hover {
  background-color: #29862e;
  color: white;
}
