.TaskListMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5eff5;
  box-shadow: inset 0px 0px 20px 10px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 8px 16px;
  margin-bottom: 10px;

  /* align-items: center; */
}
.Column__names {
  font-size: 20px;
  font-weight: bold;
}
.TaskListMain__list {
  list-style-type: none;
  padding: 2% 8% 2% 8%;
  display: grid;
  column-gap: 1em;
  row-gap: 1em;

  grid-template-columns: repeat(3, 2fr);
  /* grid-template-rows: repeat(20, 1fr); */
  max-width: 100%;
}

.Column__names {
  display: flex;
  justify-content: space-evenly;
}

.TaskListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.TaskListMain__button-container {
  max-width: 380px;
  margin: 0 10px;
}

.TaskListMain__add-task-button {
  margin: 0 auto 20px;
}
.TaskListMain__add-task-button:hover {
  background-color: #29862e;
  color: white;
}
