.GoalListNav__list {
  list-style-type: none;
  padding: 2% 8% 2% 8%;
  display: grid;
  column-gap: 1em;
  row-gap: 1em;

  grid-template-columns: repeat(3, 2fr);
  /* grid-template-rows: repeat(20, 1fr); */
  max-width: 100%;
}

.Task__card {
  /* padding: 25px; */
  /* width: 20%; */
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  padding: 8px 16px;
}

.Task__card a {
  color: black;
  text-decoration: none;
}

/* .Task {
  --task-height: 88px;
  background-color: rgba(112, 119, 147, 0.6);
  box-shadow: inset 0px 0px 20px 10px rgba(255, 255, 255, 0.1);
  color: #cacaca;
  height: var(--task-height);
} */

/* .Task__delete {
  --task-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;

  font-size: 12px;
} */

/* .Task__delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
} */

/* .Task__title {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
} */

/* .Task__title a {
  color: #cacaca;
  display: block;
  text-decoration: none;
} */

/* .Task__title a:hover {
  color: #ffb72f;
} */

/* .Task__dates {
  bottom: 8px;
  color: #a7a5a5;
  font-size: 14px;
  position: absolute;
} */
